[Unit]
Description=LVGL Kiosk UI
After=multi-user.target

[Service]
Type=simple
User=maksim
Group=maksim
SupplementaryGroups=video input render
WorkingDirectory=/home/maksim/dev/pi-lvgl
Environment=LV_LINUX_DRM_CARD=/dev/dri/card1
Environment=LV_LINUX_EVDEV_POINTER_DEVICE=/dev/input/event0
ExecStart=/home/maksim/dev/pi-lvgl/build/app
Restart=always
RestartSec=2
StandardInput=tty-force
StandardOutput=journal
StandardError=journal
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=multi-user.target
